<% include header %>
<% if (transactions.length === 0) { %>
<section class="center" class="mainbody">
  <div class="topbar">
        <h4>Account:
          <select>
            <option value="0000">0000</option>
    				<option value="1234">1234</option>
    				<option value="9999">9999</option>
          </select>
        </h4>
        <h5 class="mb-3">You have not yet recorded any transactions for this account.</h5>
        <a href="/transactions/add" class="cta">Add Transaction</a>
  </div>
</section>
<% } else { %>
<section class="center" class="mainbody">
  <div class="topbar">
    <h4>
      Account: 
      <select>
        <option value="0000">0000</option>
				<option value="1234">1234</option>
				<option value="9999">9999</option>
      </select>
    </h4>
  </div>
  <table class="ledger-table">
    <thead>
			<tr>
				<th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th class="amount-align">Withdrawals</th>
        <th class="amount-align">Deposits</th>
        <th class="amount-align">Balance</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
      <% for (var transaction of transactions) { %>
      <tr>
        <td><%= transaction.date %></td>
        <td><a href="/transactions/edit/<%= transaction._id %>"><%= transaction.desc %></a></td>
        <td><%= transaction.type %></td>
        <td class="amount-align"><%= transaction.amount %></td>
        <td class="amount-align"><%= transaction.amount %></td>
        <td class="amount-align"></td>
        <td class="amount-align"><a href="/transactions/edit/<%= transaction._id %>"><img src="images/icon_edit.png" alt="Edit" title="Edit" class="ledger-icon" /></a></td>
        <td><a href="/transactions/delete/<%= transaction._id %>"><img src="images/icon_delete.png" alt="Delete" title="Delete" class="ledger-icon" /></a></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <div class="float-right">
    <a href="/transactions/add" class="cta float-right">Add Transaction</a>
  </div>
</section>
<% } %>
<% include footer %>